# Secrets
.env

# Rust
rust_core/target/
**/*.rs.bk

# Flutter
flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/build/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/pubspec.lock

# SQLite
*.sqlite

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tooling
.tooling/
